.TranslationsManagerView {
    height: 100%;    
    max-height: calc(100dvh - 60px);
    display: flex;
    flex-flow: column;
}

.Toolbar {
    display: flex;
    flex: 0 1 auto;
    gap : 12px;
    align-items: center;
    margin-bottom: 12px;
}

.TranslationValueColumn {
    display: flex;
    gap : 8px;
    
    .TranslationValue {
        flex-grow: 1;
        
        fluent-text-field {
            width: 100%;
        }
    }
}  

.ColumnFilter {
    display: flex;
    gap: 8px;
}

.Data {
    overflow: scroll;
    flex: 1 1 auto;
    
    fluent-data-grid-row.header {
        width: max-content;
        background: #FFF;
        inset: 0px;
        position: sticky;
    }
}

.TranslationsManagerView {
        
    fluent-badge::part(control) {
        
    }
}